<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="scroll-smooth" lang="en" >

<head th:replace="~{/fragments/_layout.html :: head}">

<body class="bg-slate-100">

    <div class="app overflow-hidden">
        <!-- Arrow up -->
        <aside th:replace="~{fragments/_layout.html :: arrow-up}">
        </aside>
        <div class="flex">
        <!-- Menu -->
            <aside th:replace="~{fragments/_layout.html :: menu}" class="mobile:hidden tablet:hidden">
            </aside>

            <div class="w-full">
                <!-- Header -->
                <!-- Header -->
                <header th:replace="~{fragments/_layout.html :: header}" class="bg-primary-color h-[300px]">
                </header>

                <!-- Main content -->
                <main>
                    
                    <div class="mt-[-150px] row mb-5">                     
                        <form method="POST" th:object="${post}" th:action="@{/admin/post/update}" id="fAddProduct" enctype='multipart/form-data' class="l-o-2 col l-8 shadow-lg bg-blue-500 rounded-lg p-3 relative">
                            <div class="group">
                                <img id="thumbnailPostImg" th:src="@{/file/} + *{thumbnail}" alt="" class="w-[200px] h-[200px] object-contain group-hover:opacity-50 absolute top-0 translate-y-[-50%] left-[50%] translate-x-[-50%]">
                                <button  type="button" id="btnSelectThumbnailPost" class="btn-cancel absolute top-0 translate-y-[-50%] left-[50%] translate-x-[-50%] hidden group-hover:block">Chọn ảnh</button>
                            </div>
                            <h3 class="p-3 font-bold text-white border-b-2 border-solid border-white"><a href="/admin/post">
                                <span class="hover:underline">
                                    <i class="fas fa-chevron-left"></i> Trở về
                                </span>
                            </a></h3>
                            <input name="file"  hidden id="thumbnailPost" type="file">
                            <input th:field="*{id}" type="hidden">
                            <div class="row sm-gutter mt-20">
                                <div class="form-group my-2 items-center col l-12">
                                    <label class="text-white font-bold " for="productProducer">Tiêu đề</label>
										<input class="w-full" th:field="*{title}" type="text" />
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-12">
                                    <label class="text-white font-bold" for="productOptionAllSpecifications">Nội dung</label>
                                    <textarea th:field="*{content}" placeholder="Nội dung bài viết..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" id="productOptionAllSpecifications"></textarea>
                                    <span class="error-message text-red-600"></span>
                                </div>
                            </div>                          
                            <button type="submit" class="button btn-secondary w-full">Cập nhật bài viết</button>
                        	<!-- Btn khi đang submit -->
                            <button type="button" style="display: none;" class="w-full loading mb-4 tablet:w-full mobile:w-full w-50 h-50 float-right items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-green-500 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
                                <svg class="animate-spin m-auto h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </main>
            </div>
    
        </div>
        
        <!-- Footer -->
        <!-- Footer -->
        <footer  th:replace="~{fragments/_layout.html :: footer}">
        </footer>
    </div>

	<!-- Load các hàm xử ly flash message -->
	<script th:replace="~{fragments/_layout.html :: script-flash-message}"></script>
	
	<!-- Load các hàm khởi tạo để tạo rich text -->
	<script th:replace="~{fragments/_layout.html :: script-rich-text}"></script>
</body>

</html>
