
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="scroll-smooth dark"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en">

<head th:replace="~{fragments/_layout.html :: head}">
</head>

<body>
	</div>
	<div class="app overflow-hidden">
		<!-- Arrow up -->
		<aside th:replace="~{fragments/_layout.html :: arrow-up}"></aside>
		<!-- Header -->
		<header th:replace="~{fragments/user_layout.html :: header}">
		</header>

		<nav th:replace="~{fragments/user_layout.html :: navbar}"></nav>

		<!-- Main content -->
		<main class="mb-4">
			<!-- Cart -->
			<div class="min-h-screen m-5">
				<div class="grids wide">
					<div class="row my-3">
						<!-- Cart item -->
						<div class="col l-8 l-o-2">
							<div class="text-yellow-600">
								<a href="/order" class="hover:underline"><i
									class="fas fa-chevron-left mr-2"></i>Trở về</a>
								<h3 class="text-center font-bold uppercase">chi tiết đơn đặt</h3>
							</div>

							<section th:each="cartItem : ${order.orderDetails}"
							th:data-id="${cartItem.productOption.id}"
								class="item-cart cart-item-detail rounded-lg shadow-lg flex p-3 mb-3 relative">
								<img
									th:src="@{/file/} + ${cartItem.productOption.getProductImages().iterator().next().url}"
									class="p-2 w-[200px] h-[200px] object-contain" alt="">
								<div>
									<h3 th:text="${cartItem.productOption.getDisplayName()}" class="font-semibold text-[16px]"></h3>
									<span th:text="${cartItem.getFormatedPrice()}" class="cartItemPriceHasDiscount text-yellow-700 font-semibold"></span> 								
										
									<div class="flex my-2">
										<input type="number" th:value="${cartItem.quantity}" min="1" max="10"
											class="cart-detail-quantity w-[50px] h-[24px] text-center bg-yellow-100"
											readonly>
									</div>
								</div>
							</section>

							

							<div class="rounded-md shadow-lg p-2">
								<div class="flex justify-between p-2">
									<span class="font-semibold text-[16px]">Tổng tiền: </span> <span class="text-yellow-600 font-semibold"><p th:text="${order.getFormatedTotalPrice()}"
											class="inline-block" id="total-price-cart"></p></span>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>


		<!-- Footer -->
		<footer th:replace="~{fragments/user_layout.html :: footer}">
		</footer>
	</div>

	<!-- Load các hàm xử ly flash message -->
	<script th:replace="~{fragments/_layout.html :: script-flash-message}"></script>

	<!-- Load các hàm khởi tạo để tạo rich text -->
	<script th:replace="~{fragments/_layout.html :: script-rich-text}"></script>
</body>

</html>















