<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="scroll-smooth" lang="en" >

<head th:replace="~{fragments/_layout.html :: head}">

<body class="bg-slate-100">

    <div class="app overflow-hidden">
        <!-- Arrow up -->
        <aside th:replace="~{fragments/_layout.html :: arrow-up}">
        </aside>
        <div class="flex">
        <!-- Menu -->
            <aside th:replace="~{fragments/_layout.html :: menu}" class="mobile:hidden tablet:hidden">
            </aside>

            <div class="w-full">
                <!-- Header -->
                <!-- Header -->
                <header th:replace="~{fragments/_layout.html :: header}" class="bg-primary-color h-[300px]">
                </header>

                <!-- Main content -->
                <main>
                    
                    <div class="mt-[-150px] row mb-5">                     
                        <form method="POST" th:action="@{/admin/product/add}" id="fAddProduct" enctype='multipart/form-data' class="l-o-2 col l-8 shadow-lg bg-blue-500 rounded-lg p-3 relative">
                            <div class="group">
                                <img id="ProductImg" src="https://cdn2.cellphones.com.vn/358x/media/catalog/product/p/m/pms_1655902524.25473594_1.png" alt="" class="w-[200px] h-[200px] object-contain group-hover:opacity-50 absolute top-0 translate-y-[-50%] left-[50%] translate-x-[-50%]">
                                <button  type="button" id="btnSelectImgProduct" class="btn-cancel absolute top-0 translate-y-[-50%] left-[50%] translate-x-[-50%] hidden group-hover:block">Chọn ảnh</button>
                            </div>
                            <h3 class="p-3 font-bold text-white border-b-2 border-solid border-white"><a href="/admin/product">
                                <span class="hover:underline">
                                    <i class="fas fa-chevron-left"></i> Trở về
                                </span>
                            </a></h3>
                            <input name="imageProduct"  hidden id="imgProduct" type="file">
                            <div class="row sm-gutter mt-20">
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productName">Tên sản phẩm</label>
                                    <input  name="productName" placeholder="Tên sản phẩm..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" id="productName">
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionColor">Màu sắc</label>
                                    <input  id="productOptionColor" name="productOptionColor" placeholder="Màu sắc..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" >
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionRam">RAM</label>
                                    <input  id="productOptionRam" name="productOptionRam" placeholder="Ram..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" >
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionRom">ROM</label>
                                    <input  id="productOptionRom" name="productOptionRom" placeholder="Rom..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" >
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionMonitor">Màn hình</label>
                                    <input  id="productOptionMonitor" name="productOptionMonitor" placeholder="Màn hình..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text">
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionFrontCamera">Camera trước</label>
                                    <input id="productOptionFrontCamera" name="productOptionFrontCamera" placeholder="Camera trước..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" >
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionRearCamera">Camera sau</label>
                                    <input id="productOptionRearCamera" name="productOptionRearCamera" placeholder="Camera sau..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text">
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionCpu">Bộ xử lý trung tâm (CPU)</label>
                                    <input id="productOptionCpu" name="productOptionCpu" placeholder="CPU..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" >
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionGpu">Bộ xử lý đồ hoạ(GPU)</label>
                                    <input id="productOptionGpu" name="productOptionGpu" placeholder="GPU..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" >
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionPin">Pin</label>
                                    <input id="productOptionPin" name="productOptionPin" placeholder="Pin.." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text">
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionCostPrice">Giá vốn</label>
                                    <input id="productOptionCostPrice" name="productOptionCostPrice" placeholder="Giá vốn..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text"> 
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productOptionSellingPrice">Giá bán</label>
                                    <input id="productOptionSellingPrice" name="productOptionSellingPrice" placeholder="Giá bán..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" >
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-4">
                                    <label class="text-white font-bold " for="productProducer">Nhà sản xuất</label>
                                    <select class="text-blue-500 w-full focus-visible:outline-none focus-visible:ring bg-white  h-[40px] hover:cursor-pointer" name="productProducer" id="productProducer">
                                    	<option  th:each="producer : ${producers}" th:value="*{producer.getId()}" th:text="*{producer.getName()}">
                                    	</option>
                                    </select>
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-12">
                                    <label class="text-white font-bold" for="productName">Hình ảnh chi tiết</label>
                                    <input id="detailImgsProduct" type="file" multiple hidden>
                                    <!-- Form chua cac hinh anh upload -->
                                    <div class="p-3  bg-white">
                                        <div class="p-1 border-dashed border-2 border-blue-500 min-h-[200px]">
                                            <table  class="w-full table-auto">
                                                <!-- Img item -->
                                                <tbody id="listImgDetails">
                                                    

                                                </tbody>
                                            </table>                                          
                                        </div>
                                        <button type="button" id="btnAddDetailsImg" class="btn-save mt-2">
                                            Thêm hình ảnh
                                        </button>
                                        <span id="sumaryErrorsUploadFiles" class="text-red-500"></span>

                                    </div>
                                    <span class="error-message text-red-600"></span>
                                </div>
                                <div class="form-group my-2 items-center col l-12">
                                    <label class="text-white font-bold" for="productOptionAllSpecifications">Cấu hình chi tiết</label>
                                    <textarea name="productOptionAllSpecifications" placeholder="Cấu hình chi tiết..." class="w-full focus-visible:outline-none focus-visible:ring bg-white  h-[32px] p-5" type="text" id="productOptionAllSpecifications"></textarea>
                                    <span class="error-message text-red-600"></span>
                                </div>
                            </div>
                            
                            
                            <div class="form-group row m-[24px_0px] items-center">
                                <label class="text-white font-bold" for="productIntroduce">Giới thiệu sản phẩm</label>
                                <textarea name="productIntrodution" placeholder="Giới thiệu sản phẩm..." class=" bg-blue-100 w-[280px] h-[32px] p-5 col l-8 md-12 c-12" type="text" id="productIntrodution"></textarea>
                                <span class="error-message col l-o-4 text-red-600"></span>
                            </div>

                            <button onclick="app.addProduct()"  type="button" id="submitAddProduct" class="button btn-secondary w-full">Thêm sản phẩm</button>
                        	<!-- Btn khi đang submit -->
                            <button type="button" style="display: none;" class="w-full loading mb-4 tablet:w-full mobile:w-full w-50 h-50 float-right items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-green-500 transition ease-in-out duration-150 cursor-not-allowed" disabled="">
                                <svg class="animate-spin m-auto h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                </svg>
                            </button>
                        </form>
                    </div>
                </main>
            </div>
    
        </div>
        
        <!-- Footer -->
        <!-- Footer -->
        <footer  th:replace="~{fragments/_layout.html :: footer}">
        </footer>
    </div>

	<!-- Load các hàm xử ly flash message -->
	<script th:replace="~{fragments/_layout.html :: script-flash-message}"></script>
	
	<!-- Load các hàm khởi tạo để tạo rich text -->
	<script th:replace="~{fragments/_layout.html :: script-rich-text}"></script>
</body>

</html>
