<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Đăng ký thành công</title>
<link rel="stylesheet" href="./css/tailwind.css">
<script src="https://kit.fontawesome.com/11fdb00ab9.js"
	crossorigin="anonymous"></script>
</head>
<body>
	<div class="background w-screen h-screen flex justify-center p-[5%]">
		<div class="w-[80%] text-center bg-white shadow-lg">
			<h2 class="font-semibold text-[24px]">Xin chào,</h2>
			<img class="m-auto w-[260px]" src="./img/others/handshake.png" alt="">
			<p>Chúng tôi rất vui mừng khi bạn đến với website của chúng tôi,
				để kích hoạt tài khoản, hãy nhấn vào đường link bên dưới.</p>
			<form method="get">
				<button type="submit" class="btn-primary mt-5">Kích hoạt
					tài khoản</button>
			</form>
		</div>
	</div>
</body>
<style>
.background {
	background: linear-gradient(to bottom, #FFD333 0%, #FFD333 50%, white 50%, white
		100%);
}
</style>
</html>


